<section class="banner">
    <div class="container">
        <div class="offer">
            <h1 class="offer__title">
                <span>Lorem ipsum</span> dolor&nbsp;sit ametconsectetur <span>adipiscing</span>
            </h1>
            <p class="offer__txt">
                At vero eos et accusamus et iusto odio dignissimos ducimus!
            </p>
            <ul class="offer__list">
                <li class="offer__list-item">Totam rem aperiam eaque ipsa</li>
                <li class="offer__list-item">Sit voluptatem accusantium doloremque laudantium</li>
                <li class="offer__list-item">Sed ut perspiciatis, unde omnis iste natus error</li>
            </ul>
            <div class="offer__buttons">
                <a href="#ordering" class="btn">заказать</a>
                <a href="#" class="btn">подробнее</a>
            </div>
        </div>
    </div>
</section>