<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <p class="footer__rights">
                © 2018 «LOREMIPSUM.NET» Все права защищены.
            </p>
            <ul class="footer__payment">
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="images/footer/qiwi.svg" alt="">
                    <p class="footer__payment-name">
                        QIWI wallet
                    </p>
                </li>
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="images/footer/yandex.svg" alt="">
                    <p class="footer__payment-name">
                        Yandex Money
                    </p>
                </li>
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="images/footer/web.svg" alt="">
                    <p class="footer__payment-name">
                        Web Money
                    </p>
                </li>
            </ul>
            <ul class="footer__soc">
                <a href="#" class="footer__soc-item">
                    <img class="footer__soc-img" src="images/footer/mail.svg" alt="">
                    <p class="footer__soc-name">
                        info@ipsum228.com
                    </p>
                </a>
                <a href="#" class="footer__soc-item">
                    <img class="footer__soc-img" src="images/footer/vk.svg" alt="">
                    <p class="footer__soc-name">
                        Мы вконтакте
                    </p>
                </a>
            </ul>
        </div>
    </div>
</footer> 