<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo">
                <img src="images/logo.svg" alt="loremipsum.net">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            Бизнес
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            О нас
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            Цены
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">
                            Оформить заказ
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="mob-navigation">
                <li class="mob-navigation__item">
                    <a href="#" class="mob-navigation__link">
                        Бизнес
                    </a>
                </li>
                <li class="mob-navigation__item">
                    <a href="#" class="mob-navigation__link">
                        О нас
                    </a>
                </li>
                <li class="mob-navigation__item">
                    <a href="#" class="mob-navigation__link">
                        Цены
                    </a>
                </li>
                <li class="mob-navigation__item">
                    <a href="#" class="mob-navigation__link">
                        Оформить заказ
                    </a>
                </li>
            </ul>
            <div class="burger">
                <div class="burger__line"></div>
                <div class="burger__line"></div>
                <div class="burger__line"></div>
            </div>
        </div>
    </div>
</header>